body{
  background-image: url('momdad.jpg');
  background-size: 250px;
}
#particles-js{
  width: 100%;
  height: 100%;
  background-color: #b61924;
  background-image: url('gif-pics-i-love-my-moom-dad.gif');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin-top: 500px;
}