
body
{
	margin: 0 auto;
  background-image: url(mo.jpg);
	background-repeat: no-repeat;
	background-size: 100% 1000px;
}
form
{
    margin-bottom:100px;
   margin-left :300px;
    border-radius: 5px 5px 0 0;
    overflow:hidden;
   margin-right:0px;
    width:80%;
}

  
 

     